<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Info</title>
</head>

<body>

    <div class="container">
        <div id="movie" class="well"></div>
    </div>

    @Html.ActionLink("Back", "SearchMovie", "Movie")

    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/axios.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Movie.js")"></script>
    <script type="text/javascript">
        getMovie();
    </script>
</body>
</html>
